* {
    margin: 0;
    padding: 0;
}

.a {
    padding: 5px;
    border: 1px solid black;
    background-color: white;
    width: 962px;
    margin: 100px auto;

}

.a ul {
    list-style: none;
}

.b img{
    width: 195px;
}

.c li{
    padding: 10px;
    display: inline-block;
}
.c li:hover {
    border: 1px solid olivedrab;
}
.d img:hover {
    border: 1px solid olivedrab;
}
.d img{
    width: 39px;
    margin: 5px;
}

.e {
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: forestgreen;
}
.f {
    padding: 3px;
    width: 210px;
}
a {text-decoration: none;}
.ee {
    width: 100px;
    margin:0 auto;
    text-align: center;
    padding: 5px;
    background-color: white;

    color: black;
}